@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body {
    padding-top: 75px;
    padding-bottom: 200px;
    background-color: rgb(241, 226, 209) !important;
}

#emptyLibraryText {
    margin: 0 auto;
    text-align: center;
    width: 50%;;
}

#header {
    text-align: center;
    align-items: center;
}

.header-subtext {
  font-family: 'Satisfy', cursive;
  margin-bottom: 20px;
}

#libraryCards .card {
  float: none;
  margin: 0px auto 25px auto;
  width: 500px !important;
}

.divider {
  margin: 50px auto;
  width: 35vw;
}

.description-text {
  font-family: 'Raleway', sans-serif;
}

.gitHubLink {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 16.5px;
  text-decoration: none;
}

.license {
  margin-top: 13px;
  font-family: 'Crimson Text', serif;
  font-size: 17px;
  color: black;
}

.detailsDiv {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

#userDetails {
  font-family: 'Raleway', sans-serif;
  margin: auto;
  width: auto;
}

.authentication {
  padding-top: 10px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: -60px;
}

@media only screen and (max-width: 800px) {
    #libraryCards .card {
      width: 500px !important;
    }

    #authentication {
      transform: translate(-1000%, 0);
    }
  }
  
@media only screen and (max-width: 550px) {
    #libraryCards .card {
      width: 300px !important;
    }
  }